BASE_URL=http://localhost
PORT=3002
ENVIRONMENT=development
SESSION_SECRET="izAuMuJgYdDayrg+2GSQOEEfM2IuSPu8O70GXm0koGJg+tMDMp32d/LmUO+CJHPmml0WlTQtoPersz0avH95/g=="
SESSION_EXPIRATION_DAYS=10
JWT_SECRET="PEf8Vy3tz8yh6Zp7H7d+Ql9kKMbGaWGuc5JP0iR0yCirZclc91sbQb+/7LYRhi5hhYMjUHiRw3nMtKirgGL4lQ=="
JWT_EXPIRATION_DAYS=10
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dbNameHere
DB_USER=postgres
DB_PASSWORD=root
SWAGGER_USER=admin
SWAGGER_PASSWORD=12345



